
.contenedor{
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

    header .categorias{
        display: flex;
        flex-wrap: wrap;
     }
   
    header .categorias a{
        color: black;
        margin: 5px 5px;
        font-size: 25px;
        font-weight: 500;
    }

.productos img {
	margin: 1%;
	width: 300px;
	height:300px;
	object-fit: cover;
	border-radius: 50%;
	border:2px solid #fff;
	position: relative;
	padding: 1px;
}

	
body{
	font-family: Arial, sans-serif;
}

