.nav-menu{
	display: inline-block;	
	background: salmon;
	color:#fff;
	padding: 10px 50px;
}

li{
	float: left;
}

.productos img {
	margin: 1%;
	width: 200px;
	height:200px;
	object-fit: cover;
	border-radius: 50%;
	border:2px solid #fff;
	position: relative;
	padding: 1px;
	box-shadow: 0:1px:3px;
}

ul {
	list-style-type: none;
}
	

body{
	font-family: Arial, sans-serif;
}