
.contenedor{
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

    header .categorias{
        display: flex;
        flex-wrap: wrap;
     }
   
    header .categorias a{
        color: black;
        margin: 5px 5px;
        font-size: 25px;
        font-weight: 500;
    }
        
    
    body{
        font-family: Arial, sans-serif;
    }

    .productos{
        margin-left: 5%;
    }
    
    .productos img {
        margin: 1%;
        width: 800px;
        height:800x;
        padding: 1px;
    }
    