    /*Color fondo*/
    body{
        background-color: #FFFFFF;
        margin: 0%;
    }

    /*Contenedor Menu*/
    .contenedor{
        width: 100%; 
        position: fixed;
        text-align: center;
        z-index: 2;
        /*margin-left: 10px;*/
        display: flex;
        justify-content: center;
        background-color:#F7E6E7;
    }

    header .categorias{
        display: flex;
        flex-wrap: wrap;
    }
   
    header .categorias a{
        color: black;
        margin: 5px 5px;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
        padding: 5px;
        font-family: 'Gill Sans','Trebuchet MS';
    }

    header .categorias :hover{
        transform: scale(1.1);
        transition-duration: 1s;
    }

    /*Distancia imagenes del inicio*/
    .inicio{
        margin-left: 10%;
        padding-top: 8%;
    }

.textos{
    font-family: verdana;
    font-size: 25px;
}

  

/*Contenedor Footer - Color */
footer{
    background-color: #ADACAC;
}

/*Quitar Subrayado */
.footer{
    text-decoration: none;
    color: black;
}

/*Footer Horizontal  */
#contenedorfooter{
    display: flex;
    flex-direction: row;
    margin-left: 30px;  
    padding: 50px;
}

/* Titulo Footer  */
.tituloFooter{
    padding-left: 10px;
    font-size: 35px;
    font-family: Lucida Bright ;
    color: rgb(26, 30, 75);
}

/*Cat - Inf - Med. Pagos | Formato Lista  */
.lista{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 25px;
    font-family: Lucida Bright;
    margin-top: 3%;
}

/* Distancia En Las letras categorias */
.dist-row{
    margin-top: 5%;
    display: row;
}


/*Distancia de los elementos del footer  */
.distancia{
    padding-left: 25%;
}



/*Barra Redes Sociales*/
    .redes-sociales {
        position: fixed;
        right: 0;
        top: 35%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }
    
    .icon {
        color: white;
        text-decoration: none;
        padding: .7rem;
        display: flex;
        transition: all .5s;
    }
    
    .icon-facebook {
        background: #2E406E;
    }
    
    .icon-whatsapp{
        background-color: #25d366;
    }
    
    .icon-instagram {
        background: #DD2A7B;
    }
    
    .icon:first-child {
        border-radius: 1rem 0 0 0;
    }
    
    .icon:last-child {
        border-radius: 0 0 0 1rem;
    }
    
    .icon:hover {
        padding-right: 3rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    }